absl-py==2.1.0
args==0.1.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
clint==0.5.1
cmake==3.25.0
contourpy==1.2.1
cycler==0.12.1
docker-pycreds==0.4.0
filelock==3.13.1
fonttools==4.53.0
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.64.1
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
Jinja2==3.1.3
joblib==1.4.2
kiwisolver==1.4.5
lit==15.0.7
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
packaging==24.0
pandas==1.5.3
pillow==10.3.0
platformdirs==4.2.2
protobuf==4.25.3
psutil==5.9.8
pyg-lib==0.4.0+pt20cu117
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
scikit-learn==1.5.0
scipy==1.13.1
sentry-sdk==2.4.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sympy==1.12
tensorboard==2.16.2
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
torch==2.0.0+cu117
torch-cluster==1.6.3+pt20cu117
torch-scatter==2.1.2+pt20cu117
torch-sparse==0.6.18+pt20cu117
torch-spline-conv==1.2.2+pt20cu117
torch_geometric==2.3.0
tqdm==4.66.4
triton==2.0.0
typing_extensions==4.9.0
urllib3==2.2.1
wandb==0.17.0
Werkzeug==3.0.3
zipp==3.19.2
